#control-panel {
  position: absolute;
  width: 400px;
  height: 100%;
  background-color: rgba(255, 255, 255, .9);
  top: 0;
  left: -370px;
  transition: all .3s;
}

#control-panel-handle {
  position: absolute;
  right: 10px;
  top: 6px;
  cursor: pointer;
}

#control-panel-tips {
  padding: 10px;
}

#control-panel-bottom-logo {
  position: absolute;
  bottom: 0;
}
